ion-content {
  --background: url('../../assets/diabetes3.jpeg') no-repeat center center / cover;
}

.botaoIniciar{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoInfo{
  margin-top: 190px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.titulo{
  margin-top: 90px;
  text-align: center;
  color: rgb(6, 5, 58);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  font-style: italic;
}

.descricao{
  margin-top: 50px;
  text-align: center;
  color: rgb(14, 7, 80);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-style: bold;
}

.descricao2{
  margin-top: 40px;
  text-align: center;
  color: rgb(13, 14, 12);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}