<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo">
    DiabetesCheck
  </div>

  <div class="descricao"> Um app para você <br> 
    verificar seu risco de diabetes
  </div>

  <div  class="botaoIniciar">
    <ion-button color="tertiary" [routerLink]="['/calcular-diabetes']" routerDirection="forward">INICIAR</ion-button>
  </div>

  <div class="descricao2">
    Bem vindo ao aplicativo  DiabetesCheck! <br>
    Ao informar seus dados você poderá <br>
    verificar seu risco de ter diabetes.<br>
    Responder com sinceridade  a todos os <br> 
    itens é fundamental para um resultado <br> 
    correto.<br>

  </div>

  <div class="botaoInfo">
   <ion-router-link (click)="maisInfo()" style="color: rgb(19, 10, 134);">Mais informações</ion-router-link>
  </div>
</ion-content>
